<mat-toolbar color="primary">
  <i class="fas fa-heartbeat mat-icon"></i>
  &nbsp;&nbsp;&nbsp;
  <span>{{ title }}</span>
  <span class="spacer"></span>
</mat-toolbar>
<br />
<div class="container">
  <mat-form-field class="search-form">
    <input #searchInput matInput placeholder="Search">
  </mat-form-field>
  <br />
  <div *ngFor="let g of groups">
    <div>
      <h2 mat-subheader>{{g.name}}</h2>
      <mat-divider></mat-divider>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-card *ngFor="let resp of g.responses | search:searchInput.value" fxLayout="column" fxLayoutAlign="space-between start"
        fxFlex="20" fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="40" fxFlex.sm="100" fxFlex.xs="100" [ngClass]="resp.class">
        <mat-card-header>
          <div mat-card-avatar>
            <i class="fas fa-info-circle fa-2x" *ngIf="resp.class==='bg-info'"></i>
            <i class="fas fa-check-circle fa-2x" *ngIf="resp.class==='bg-good'"></i>
            <i class="fas fa-exclamation-circle fa-2x" *ngIf="resp.class==='bg-warn'"></i>
            <i class="fas fa-times-circle fa-2x" *ngIf="resp.class==='bg-error'"></i>
          </div>
          <mat-card-title class="dont-break-out">
            <b>{{resp.name}}</b>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div fxFlex="100">
            <h2>{{resp.statusCode}} {{resp.statusDescription}}</h2>
            <a target="_blank" class="dont-break-out" href="{{resp.responseUri}}">{{resp.responseUri}}</a>
            <mat-progress-bar mode="indeterminate" *ngIf="!resp.loaded"></mat-progress-bar>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
