.vs/healthcheck/v15/.suo
.vs/healthcheck/DesignTimeBuild/.dtbcache
.vs/healthcheck/v15/Server/sqlite3/storage.ide-shm
.vs/healthcheck/v15/Server/sqlite3/storage.ide-wal
healthcheck/ClientApp/src/assets/data.json