/* You can add global styles to this file, and also import other style files */

@import './theme';
body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

html,
body,
.content,
.app-background {
    margin: 0;
    height: 100%;
}

app-root:empty+.loading {
    opacity: 1;
    z-index: 100;
    background-color: #eee;
    transition: all 1s ease-in-out;
}

.mat-card {
    margin: 5px;
}

a,
a:visited {
    color: #0033ff;
}

.dont-break-out {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

// .container {
//     // width: 100%;
//     // min-width: 100%;
//     // height: 100%;
//     // min-height: 100%;
//     padding-right: 15px;
//     padding-left: 15px;
//     margin-right: auto;
//     margin-left: auto;
// }

.wrapper {
    padding: 10px 24px;
}

.summary {
	.mat-card-header-text {
		margin: 0 40px !important;
	}
	
	.mat-card-content {
		width: 100%;
	}
	
	.mat-card-title {
		font-size: 35px !important;
		margin-bottom: 8px !important;
	}
	
	.mat-card-subtitle {
		font-size: 20px !important;
	}
	
	.mat-card-actions, .mat-card-content, .mat-card-subtitle {
		margin-bottom: 0px !important;
	}
}

.list-cards {
	.mat-divider {
		margin-bottom:10px !important;
	}
}

.spacer {
    flex: 1 1 auto;
}
.right {
	text-align: right;
}
.search-form {
    width: 100%;
  }

  h2 {
      margin-bottom: 10px;
  }